label{
    margin-bottom: 0rem;
    font-size: 25px;
}

#logo{
    display: flex;
}

#navber{
    display: flex;
    justify-content: space-between;
}

footer{
    padding-top: 1.5rem;
}

a{
    text-decoration: none;
    color: black;
}