{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block contents %}

    <a href="/accounts/signup">회원가입</a><br>

    {% if user.is_authenticated %}
    <a href="/accounts/logout">로그아웃</a><br>
    {{user.username}} 님이 로그인 중

    {% else %}
    <a href="{% provider_login_url 'google' %}">구글 로그인</a><br>
    로그인 해야 함

    {% endif %}

    {% for blog in posts %}
    <!--모든 객체가 blog에 저장-->
    <div class="container">

        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{blog.title}}</h2>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                <p class="card-text">{{blog.summary}}</p>
                <a href="{% url 'detail' blog.id %}" class="card-link">..more</a>
            </div>
        </div>
    </div>
    <br><br>
    {% endfor %}

    <div class="container">

    <!--만약 이전 페이지가 있다면 코드 실행-->
    {% if posts.has_previous %}
    <a href="?page=1">first</a>
    <a href="?page={{posts.previous_page_number}}">previous</a>
    {% endif %}

    <!--3of3-->
    <span>{{posts.number}}</span><!--현재-->
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span><!--전체-->

    <!--만약 다음 페이지가 있다면 코드 실행-->
    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">next</a>
    <a href="?page={{posts.paginator.num_pages}}">last</a>
    {% endif %}
    </div>


{% endblock %}