{% extends 'base.html' %}

{% block contents %}

    {% for blog in blogs.all %}
    <!--모든 객체가 blog에 저장-->
    <div class="container">

        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{blog.title}}</h2>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                <p class="card-text">{{blog.summary}}</p>
                <a href="{% url 'detail' blog.id %}" class="card-link">..more</a>
            </div>
        </div>
    </div>
    <br><br>
    {% endfor %}
{% endblock %}